{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/category/index.css') }}">
{% endblock %}

{% block body %}
    <h1>Category index</h1>

    {# Macro for recursive tree categories #}
    {% macro createCategoriesTree(categories, rootCategory = null) %}
        <ul>
            {% for category in categories %}
                {% if category.rootCategory == rootCategory %}
                    <li>
                        <span>{{ category.name }}</span>
                        <button class='addButton'><img src="{{ asset('icons/plus.svg') }}" alt="Add"></button>
                        {{ _self.createCategoriesTree(category.subCategories, category) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endmacro %}

    <div id="categoriesTree">
        {{ _self.createCategoriesTree(categories) }}
    </div>

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">Create new</a> #}
{% endblock %}
