{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <div class="btn-group" role="group">
        <a href="{{ path('article_index') }}"><img class="btn btn-success px-0" width="40" height="40" src="{{ asset('icons/left-arrow.svg') }}" alt="Retour"></a>
        <a href="{{ path('article_edit', {'id': article.id}) }}"><img class="btn btn-warning px-0" width="40" height="40" src="{{ asset('icons/edit.svg') }}" alt="Modifier"></a>
        {% include "article/_delete_form.html.twig" %}
    </div>

    <p>{{ article.description }}</p>

    {% for category in article.categories %}
        {% if category != article.categories|last %}
            <a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }},</a>
        {% else %}
            <a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>
        {% endif %}
    {% endfor %}

    <a href="{{ path('magazine_show', {'id': article.magazine.id}) }}">
        N°{{ article.magazine.number }}, page {{ article.page }}
    </a>

    <a href="{{ path('author_show', {'id': article.author.id}) }}">
        {{ article.author.firstname }} {{ article.author.lastname }}
    </a>
{% endblock %}
